/* Animações */
@keyframes animate-div {
    from { opacity: 0.2; margin-top: -2px;}
    to { opacity: 1;margin-top: 0px;}
}

/*---------------- CABEÇALHO ----------------*/
/* Logo */
div.div-cabecalho div.logo-cabecalho {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 20px;
    width: 60px;
    transition: 0.7s;
}

div.div-cabecalho div.logo-cabecalho a:hover{
filter: brightness(1.3);
}

/* Menu de Opções */
div.div-cabecalho div.menu-cabecalho {
    flex: 5;
}

div.div-cabecalho div.menu-cabecalho ul li{
    margin: 20px 0px 50px 0px;
}

div.div-cabecalho div.menu-cabecalho ul li a{
    color: var(--fonte-extra2);
    transition: 0.3s;
    display: flex;
    font-weight: 300;
}

div.div-cabecalho div.menu-cabecalho ul li a:hover{
    filter: brightness(0.7);
}

div.div-cabecalho div.menu-cabecalho ul li a i{
    color: var(--fonte-extra3);
}

div.div-cabecalho div.menu-cabecalho ul li a .menu-cabecalho-opcao {
    display: none;
} 

/*---------- CABEÇALHO EXPANDIDO -------------*/
@media only screen and (min-width: 769px) {
div.cabecalho-expandido {
    width: 150px !important;
}

/* Logo Expandido */
div#logo-cabecalho-expandido {
    width: 100px;
}

/* Menu Expandido */
.menu-cabecalho-opcao-expandido {
    display: block !important;
    margin-left: 10px;
    animation: animate-div 0.9s;
}
}

/*---------- CABEÇALHO MOBILE -------------*/
@media only screen and (max-width: 768px) {

/* Cabeçalho */
 div.div-cabecalho {
    width: 100% !important;
    align-items: start !important;
    padding: 30px !important;
    box-shadow: none !important;
}

/* Logo */
div.div-cabecalho div.logo-cabecalho{
    margin: 0px;
    flex: 0;
    width: 80px;
    margin-bottom: 15%;
}

/* Menu de  Opções*/
div.div-cabecalho div.menu-cabecalho{
    flex: 1;
}

div.div-cabecalho div.menu-cabecalho ul li{
    font-size: 1.3rem;
    margin: 0px 0px 40% 0px;
}

div.div-cabecalho div.menu-cabecalho ul li a .menu-cabecalho-opcao {
    display: block;
    margin-left: 10px;
}
}