/* Animações */
@keyframes animate-div {
    from { opacity: 0.2; margin-top: -2px;}
    to { opacity: 1;margin-top: 0px;}
}

/*---------------- CABEÇALHO ----------------*/
/* Logo */
div.div-cabecalho div.logo-cabecalho {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 20px;
    width: 60px;
    transition: 0.7s;
}

div.logo-cabecalho img{
    width: 100%;
}

/* Menu de Opções */
div.div-cabecalho div.menu-cabecalho {
    flex: 5;
}

div.div-cabecalho div.menu-cabecalho ul li{
    margin: 20px 0px 50px 0px;
}

div.div-cabecalho div.menu-cabecalho ul li a{
    color: var(--fonte-standard-1);
    transition: 0.3s;
    display: flex;
    font-weight: 300;
}

div.div-cabecalho div.menu-cabecalho ul li a:hover{
    filter: brightness(0.7);
}

div.div-cabecalho div.menu-cabecalho ul li a i{
    color: var(--fonte-standard-5);
}

div.div-cabecalho div.menu-cabecalho ul li a .menu-cabecalho-opcao {
    display: none;
} 

/* Botão Abrir Cabeçalho Mobile */
div.botao-abrir-menu-cabecalho{
    display: none;
}

/*---------- CABEÇALHO EXPANDIDO -------------*/
@media only screen and (min-width: 769px) {
div#cabecalho-expandido {
    width: 160px;
}

/* Logo Expandido */
div#logo-cabecalho-expandido {
    width: 100px;
}

/* Menu Expandido */
#menu-cabecalho-opcao-expandido {
    display: block;
    margin-left: 10px;
    animation: animate-div 0.9s;
}
}