@media only screen and (max-width: 768px) {
/*---------- CONTEÚDO MOBILE -------------*/
div.div-conteudo{
    margin: 30px !important;
    padding: 15px !important;
}

/*---------- CABEÇALHO MOBILE -------------*/
     div.div-cabecalho {
        display: none !important;
        width: 100% !important;
        align-items: start !important;
        padding: 30px !important;
        box-shadow: none !important;
    }
    
    /* Botão Abrir Cabeçalho Mobile */
    div.botao-abrir-menu-cabecalho{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: var(--cor-principal);
        padding: 10px 15px;
        border-bottom-right-radius: 20px;
        font-size: 1em;
    }
    
    /* Botão Fechar Cabeçalho Mobile */
    div.div-cabecalho{
        display: block;
    }
    
    /* Logo Mobile */
    div.div-cabecalho div.logo-cabecalho{
        margin: 0px;
        flex: 0;
        width: 80px;
        margin-bottom: 15%;
    }
    
    /* Menu de Opções Mobile*/
    div.div-cabecalho div.menu-cabecalho{
        flex: 1;
    }
    
    div.div-cabecalho div.menu-cabecalho ul li{
        font-size: 1.3rem;
        margin: 0px 0px 40% 0px;
    }
    
    div.div-cabecalho div.menu-cabecalho ul li a .menu-cabecalho-opcao {
        display: block;
        margin-left: 10px;
    }
    }