@media only screen and (max-width: 768px) {
/*---------- CONTEÚDO MOBILE -------------*/
div.div-conteudo{
    margin: 30px;
    padding: 15px;
}

/*---------- CABEÇALHO MOBILE -------------*/
     div.div-cabecalho {
        display: none;
        width: 100%;
        align-items: start;
        padding: 30px;
        box-shadow: none;
        overflow: scroll;
    }
    
    /* Botão Abrir Cabeçalho Mobile */
    div#botao-abrir-menu-cabecalho{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: var(--cor-standard-3);
        color: var(--fonte-standard-2);
        padding: 7px 14px;
        font-size: 1.5em;
    }
    
    /* Botão Fechar Cabeçalho Mobile */
    div#botao-fechar-menu-cabecalho{
        display: block;
        position: fixed;
        right: 0px;
        top: 0px;
        color: var(--cor-standard-3);
        padding: 7px 14px;
        font-size: 1.8em;
    }
    
    /* Logo Mobile */
    div.div-cabecalho div.logo-cabecalho{
        margin: 0px;
        flex: 0;
        width: 80px;
        margin-bottom: 15%;
    }
    
    /* Menu de Opções Mobile*/
    div.div-cabecalho div.menu-cabecalho{
        flex: 1;
    }
    
    div.div-cabecalho div.menu-cabecalho ul li{
        font-size: 1.1rem;
        margin: 0px 0px 50px 0px;
    }
    
    div.div-cabecalho div.menu-cabecalho ul li a .menu-cabecalho-opcao {
        display: block;
        margin-left: 10px;
    }
    }