@import url(./cabecalho-style.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-principal: #121212;
    --cor-secundaria: #1e52c7;
    --cor-extra1: #09193c;
    --cor-extra2: #ffffff;
    --cor-extra3: #6494ff;
    --fonte-principal: #232323;
    --fonte-secundaria: #1e52c7;
    --fonte-extra1: #09193c;
    --fonte-extra2: #ffffff;
    --fonte-extra3: #6494ff;
}

/*---------------- LAYOUT ----------------*/
div#div-principal {
display: flex;
width: 100%;
height: 100vh;
background-color: var(--cor-extra1);
color: var(--fonte-extra2);
}

div.div-conteudo{
    margin: 20px 20px 20px 120px;
    padding: 10px;
}

div.div-cabecalho{
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70px;
    background-color: var(--cor-principal);
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 0px 15px var(--cor-principal);
    transition: 0.5s;
}