/* GERAL - Galeria 1 */
.galeria-1{
    flex-direction: row;
}

/* GERAL - Galeria 2 */
.galeria-2{
    width: 100%;
    flex-direction: row;
}

.galeria-2-conteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.galeria-2-img, .galeria-2-video{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.galeria-2-img h3, .galeria-2-video h3{
    font-size: 1.7em;
    padding: 5px;
    color: var(--fonte-standard-1);
}

.galeria-2-img h3 i, .galeria-2-video h3 i{
    color: var(--fonte-standard-5);
    margin-right: 8px;
}

.galeria-2-carrosel{
    display: block;
    position: relative;
    width: 100%;
    top: -50px;
}

.galeria-2-img div img, .galeria-2-video div img{
    width: 100%;
}


.setas{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    top: 50%;
}

.seta-return, .seta-next{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-standard-2);
    color: var(--fonte-standard-5);
    width: 50px;
    height: 50px;
    cursor:pointer;
}

.seta-return i, .seta-next i{
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
/* MOBILE - Galeria 2 */
.galeria-2-conteudo {
    flex-direction: column;
}

.galeria-2-carrosel {
    top: -30px;
}

.setas{
    top:150px;
}

.seta-return, .seta-next{
    width: 40px;
    height: 40px;
}

}