/* GERAL - Historia 1 */
.historia-1{
    flex-direction: column;
}

.historia-1-img{
    width: 100%;
    text-align: center;
    margin: 15px 0;
    padding: 30px;
    background: linear-gradient(348deg, var(--cor-standard-2) 50%, #212121 100%);
}

.historia-1-text{
    width: 100%;
}


@media only screen and (max-width: 768px) {
/* MOBILE */
.historia{
    align-items: center;
    flex-direction: column;
}
/* MOBILE - Historia 1 */
.historia-1 {
    flex-direction: column;
}

.historia-1-text{
    width: 100%;
    margin-bottom: 15px;
}

.historia-1-img{
    width: 100%;
    margin: 10px 0px;
}
}