/* GERAL - Historia 1 */
.historia-1{
    flex-direction: column;
}

.historia-1-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: var(--cor-standard-2);
    box-shadow: 0px 0px 35px -25px var(--cor-standard-5);
}

.historia-1-text{
    width: 100%;
}


@media only screen and (max-width: 768px) {
/* MOBILE - Historia 1 */
.historia-1 {
    flex-direction: column;
}

.historia-1-text{
    width: 100%;
    margin-bottom: 15px;
}

.historia-1-img{
    width: 100%;
    margin-bottom: 15px;
}
}