/* GERAL */
.pad15 {
    padding: 15px;
}

/* DESKTOP */
@media only screen and (min-width: 769px) {
/* Home 1 */
.home-1{
    display: flex;
    align-items: flex-start;
}

.home-1-text{
    width: 80%;
}

.home-1-img{
    width: 20%;
    text-align: center;
    margin: auto 0;
}
}

/* MOBILE */
@media only screen and (max-width: 768px) {    
    /* Home 1 */
    .home-1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-1-text{
        width: 100%;
    }
    
    .home-1-img{
        width: 80%;
        text-align: center;
        margin: auto 0;
    }
}