
/* GERAL - Home 1 */
.home-1-img{
    width: 20%;
    text-align: center;
    margin: auto 0;
}

.home-1-text{
    width: 80%;
}

/* GERAL - Home 2 */
.home-2 {
    flex-wrap: wrap;
    justify-content: center;
}

.home-2-card{
    display: flex;
    justify-content: center;
    width: 29%;
    height: 80px;
    background-color: var(--cor-standard-3);
    box-shadow: 0px 0px 10px var(--cor-standard-3);
    margin: 15px;
    border-radius: 15px;
    transition: 0.5s;
}

.home-2-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: var(--fonte-standard-1);
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.home-2-card a i{
   font-size: 1.2em;
   margin-bottom: 4px;
   color: var(--fonte-standard-3);
}

.home-2-card:hover {
    background-color: var(--cor-standard-4);
    box-shadow: 0px 0px 10px var(--cor-standard-4);
    cursor: pointer;
    padding: 2px;
}

.home-2-card:hover a, .home-2-card:hover a i {
    color: var(--fonte-standard-3);
}

/* GERAL - Home 3 */
.home-3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.1em;
}



.home-3-coluna a{
    color: var(--fonte-standard-1);
    transition: 0.3s;
}

.home-3-coluna a:hover{
    color: var(--fonte-standard-4);
}

.home-3-coluna i{
    display: inline;
    color: var(--fonte-standard-5);
    margin-right: 3px;
    padding: 2px;
}

@media only screen and (max-width: 768px) {
/* MOBILE */
.home{
    align-items: center;
    flex-direction: column;
}
/* MOBILE - Home 1 */
.home-1 {
    flex-direction: column;
}

.home-1-text{
    width: 100%;
    margin-bottom: 15px;
}

.home-1-img{
    width: 100%;
}
/* MOBILE - Home 2 */
.home-2-card{
    width: 100%;
    margin: 15px 0px;
}
/* MOBILE - Home 3 */
.home-3-coluna{
    width: 100%;
    margin: 15px 0px
}
}